body {
  background: linear-gradient(90deg, #7c84f5be, rgba(152, 15, 164, 0.618));
  text-align: center;
  font-size: 22px;
}

main {
  background-color: rgba(0, 0, 0, 0.596);
  color: white;
  padding: 30px;
  margin: auto;
  margin-top: 10%;
  width: fit-content;
  height: 500px;
  border-radius: 50px;
}

#tabela-porcentagens {
  border: 4px solid #fff;
  display: flex;
  width: fit-content;
  margin: auto;
  margin-top: 5rem;
}

#btn-calcular {
  margin-top: 20px;
  background: linear-gradient(90deg, #7c84f5be, rgba(152, 15, 164, 0.618));
  border: transparent;
  color: #fff;
  padding: 0.45rem 0.7rem;
  transition-duration: .5s;
  cursor: pointer;
}

#btn-calcular:hover {
  background: linear-gradient(90deg, rgba(152, 15, 164, 0.618), #7c84f5be);
  border: 2px solid #fff;
  color: #fff;
  padding: 0.55rem 0.8rem;
  transition-duration: .5s;
}

input {
  outline: none;
  padding: 5px;
}

footer {
  font-size: 14px;
  color: #ffffff;
  margin-top: 100px;
  text-align: center;
}

footer a {
  color: #fff;
}
.heart {
  font-size: 16px;
}